/*Solarize Theme*/
body {
    /*background-color: #002B36;*/
}


.header-logo {
    font-size: 36px;
    color: #cb4b16;
}
    .header-logo:hover {
        color: #cb4b16;
        text-decoration: none;
    }
    /*Site Header*/