/*Solarize Theme*/
body {
    background-color: #002B36;
    background: rgba(0, 0, 0, 0.95);
    color: white;
}
header {
    border-bottom: 1px solid currentColor;
}
footer {
    text-align: center;
    border: 1px solid #586e75;
}

/*Welcome Page Glow*/
body.welcome{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.welcome-tron {
    position: relative;
    width: 350px;
    height: 350px;
    background: #002B36;
    border-radius: 5em;

}
    .welcome-tron p {
        text-transform: uppercase;
        font-size: 32px;
        text-align: center;
        line-height: 350px;
    }
    .welcome-tron a {
        color: white;
        font-size: 16px;
        text-align: right;
        position: absolute;
        right: 0px;
    }
    .welcome-tron::before, .welcome-tron::after {
        z-index: -1;
        content: '';
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        top: -3px;
        left: -3px;
        border-radius: 5em;
          background: linear-gradient(45deg, #6c71c4, #268bd2, #2aa198, #859900, #b58900, #cb4b16, #dc322f, #d33682, #dc322f, #cb4b16, #b58900, #2aa198,#268bd2,#6c71c4); /*Solarize Colors*/
        /*background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%,rgba(0,0,0,0) 0%);*/
        background-size: 300%;
        animation: welcome-tron 3s linear infinite;
    }
    .welcome-tron::after {
        filter:blur(30px);

    }
    @keyframes welcome-tron{
        0% {background-position: 0 0;}
        100% { background-position: 300%;}
      
        }

.icon-color {
    color: white;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    padding: 1px;
}
/*site header*/
.header-logo {
    font-size: 36px;
    font-size-adjust: inherit;
    color: #cb4b16;

}
    .header-logo:hover {
        color: #cb4b16;
        text-decoration: none;
    }


