/*This Is for Colors*/
:root {
    --Dark-color: #272727; /* var(--Dark-color); */
    --Font-color: #747474; /* var(--Theme-Font-color); */
    /*Accents*/
    --yellow: #ffe400; /*var(--yellow);*/
    --green: #14a76c; /*var(--green);*/
    --red: #ff652f; /*var(--red);*/
    /*MAYBE*/
    --purple: #6311CE; /*var(--purple);*/
    /*Other*/
    --nav-border: rgba(255, 255, 255, 0.02); /*var(--nav-border);*/
    --hr: rgba(255, 255, 255, 0.1); /*var(--hr);*/
    --section: rgba(255, 255, 255, 0.01); /*var(--section);*/
    --Mono: white; /*var(--Mono);*/
}


@media (max-width: 767px) {
    .jumbotron {
        background-color: var(--Dark-color);
        position: absolute;
        right: 0;
        left: 0;
        top: auto;
    }
}


body {
    background-color: var(--Dark-color);
    color: var(--Font-color);
}

hr {
    background-color: var(--hr);
}
/*sidebar Nav*/
.sidebar {
    /*Layout*/
    border-right: solid 0.5em var(--nav-border);
    /*Theme*/
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    overflow-y: hidden;
    overflow-x:hidden;
    z-index: 2;
}

.navPhoto {
    border-radius: 25%;
    height: auto;
    width: inherit;
    border: 2px solid var(--Font-color);
}

.sidebar .navPhoto {
    max-height: 150px;
}

.main-body .navPhoto {
    border-radius: 25%;
    height: auto;
    width: inherit;
    margin-top: 10px;
    max-height: 322px;
    max-width: 322px;
}



.icon {
    font-weight: bold;
    border-radius: 25%;
    padding: 2px 15px 2px 15px;
    margin: 2px;
    font-size: 18px;
    z-index: 1;
    cursor: pointer;
}

.ulNav {
    list-style: none; /*removes ul dots*/
    font-weight: bold;
    font-size: 18px;
}

    .ulNav li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

/*topbar Nav*/
.topnav {
    width: 100%;
    overflow: auto;
    border-bottom: solid 0.5em var(--nav-border);
}

    .topnav a {
        text-decoration: none;
        font-size: 2em;
        text-decoration: none;
    }


/*Both Navbars*/
/*TABS*/

/*Layout*/
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Layout*/
#navAbout:before {
    /*<i class="fas fa-home"></i>*/
    content: "\f007"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#navPortfolio:before {
    content: "\f126"; /*<i class="fas fa-code-branch"></i>*/
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

#navResume:before {
    /*<i class="fas fa-file-alt"></i>*/
    content: "\f15c"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
/*Theme*/
#navAbout:Hover {
    color: var(--yellow);
    cursor: pointer;
    background-size: 100%;
}


#navPortfolio:Hover {
    color: var(--green);
    cursor: pointer;
    background-size: 100%;
}

#navResume:Hover {
    color: var(--red);
    cursor: pointer;
    background-size: 100%;
}
/*--*/
#top-About {
    color: var(--yellow);
    width: 1.5em;
    text-align: center;
}

#top-Portfolio {
    color: var(--green);
    width: 1.5em;
    text-align: center;
}

#top-Resume {
    color: var(--red);
    width: 1.5em;
    text-align: center;
}

#top-Contact {
    position: absolute;
    right: 4px;
    color: var(--Font-color);
    border: 2px solid var(--Font-color);
    border-radius: 4px;
    left: 0;
    text-align: center;
}

/*Theme*/
.active {
    color: var(--Mono);
}

@media (max-width: 767px) {
    #top-About.active {
        background-color: var(--yellow);
        color: var(--Dark-color);
        border-radius: 4px;
    }

    #top-Portfolio.active {
        background-color: var(--green);
        color: var(--Dark-color);
        border-radius: 4px;
    }

    #top-Resume.active {
        background-color: var(--red);
        color: var(--Dark-color);
        border-radius: 4px;
    }

    #top-Contact.active {
        background-color: var(--Font-color);
        color: var(--Dark-color);
        border-radius: 4px;
    }
}

.section-header {
    background-color: var(--section);
}


/*main*/
.main-body {
    position: relative;
    border-bottom: solid 0.5em var(--nav-border);
    padding: 10px;
    margin-left: 170px;
    margin-right: 0;
    top: 0;
}

@media (max-width: 767px) {
    .main-body {
        margin-left: 0px;
        position: relative;
        width: 100%;
    }
}
/*ABOUT*/
.main-body #About .section-header {
    border: 2px solid var(--yellow);
    border-radius: 25px;
    right: 0;
    overflow: visible;
}

.main-body #About h4:before {
    content: "\258e";
    display: inline-block;
    margin-left: -1.0em;
    width: 1.3em;
    color: var(--yellow);
}
.main-body #About hr{
    background-color:var(--yellow);
}


.main-body #About .navPhoto {
    border: 2px solid var(--yellow);
}

.main-body #About .font-weight-bold, .main-body #About .font-italic, .main-body #About p b, .main-body #About p i {
    color: var(--yellow);
}
/*ABOUT SKILLBAR*/

@keyframes load {
    from {
        width: 0%
    }
}
@-webkit-keyframes load {
    from {
        width: 0%
    }
}
@-moz-keyframes load {
    from {
        width: 0%
    }
}
@-o-keyframes load {
    from {
        width: 0%
    }
}
.skillBar {
    background-color: var(--Dark-color);
    padding: 2px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--yellow);
    
}
    .skillBar::before {
        content: attr(data-skill);
        background: repeating-linear-gradient( -55deg, var(--Dark-color), var(--Dark-color) 20px, var(--Font-color) 20px, var(--Font-color) 25px);
        border: 2px solid var(--Font-color);
        color: var(--yellow);
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;
    }
    .skillBar.learning::before {
        width: calc(20% - 10px);
    }

    .skillBar.basic::before {
        width: calc(40% - 10px);
    }

    .skillBar.intermediate::before {
        width: calc(60% - 10px);
    }

    .skillBar.advanced::before {
        width: calc(80% - 10px);
    }

    .skillBar.expert::before {
        width: calc(100% - 10px);
    }

.skillIcon {
    position:absolute;
    top:inherit;
    left: -0.5em;
    font-size: 2em;
}

/*Portfolio*/
.main-body #Portfolio .section-header {
    border: 2px solid var(--green);
    border-radius: 25px;
    right: 0;
    overflow: visible;
}

.main-body #Portfolio h4:before {
    content: "\258e";
    display: inline-block;
    margin-left: -1.0em;
    width: 1.3em;
    color: var(--green);
}

.main-body #Portfolio hr {
    background-color: var(--green);
}


.main-body #Portfolio .navPhoto {
    border: 2px solid var(--green);
}

.main-body #Portfolio .font-weight-bold, .main-body #Portfolio .font-italic, .main-body #Portfolio p b, .main-body #Portfolio p i {
    color: var(--green);
}
/*Resume*/
.main-body #Resume .section-header {
    border: 2px solid var(--red);
    border-radius: 25px;
    right: 0;
    overflow: visible;
}

.main-body #Resume h4:before {
    content: "\258e";
    display: inline-block;
    margin-left: -1.0em;
    width: 1.3em;
    color: var(--red);
}

.main-body #Resume hr {
    background-color: var(--red);
}


.main-body #Resume .navPhoto {
    border: 2px solid var(--red);
}

.main-body #Resume .font-weight-bold, .main-body #Resume .font-italic, .main-body #Resume p b, .main-body #Resume p i {
    color: var(--red);
}


/*Bootstrap Cards*/
.card {
    border-radius: 12px;
    border: 2px solid;
    overflow: hidden;
    background-color: var(--Dark-color);
}
   


/*Changing Bootstrap button to match color scheme*/
/*yellow*/
.border-One {
    border-color: var(--yellow) !important;
}
.btn-One {
    border-color: var(--yellow);
    color: var(--yellow);
    border-radius: 12px;
    border-width: 2px;
}  

    .btn-One:hover {
        color: var(--Dark-color);
        background-color: var(--yellow);
        border-color: var(--yellow);
    }

    .btn-One:focus, .btn-One.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    }

    .btn-One.disabled, .btn-One:disabled {
        color: var(--yellow);
        background-color: transparent;
    }

    .btn-One:not(:disabled):not(.disabled):active, .btn-One:not(:disabled):not(.disabled).active,
    .show > .btn-One.dropdown-toggle {
        /* color: var(--Dark-color);
        background-color: var(--yellow);
        border-color: var(--yellow);*/
        border-color: var(--yellow);
        color: var(--yellow);
        border-radius: 12px;
        border-width: 2px;
    }
        .btn-One:not(:disabled):not(.disabled):active:hover, .btn-One:not(:disabled):not(.disabled).active:hover,
        .show > .btn-One.dropdown-toggle:hover {
            color: var(--Dark-color);
            background-color: var(--yellow);
            border-color: var(--yellow);
        }

        .btn-One:not(:disabled):not(.disabled):active:focus, .btn-One:not(:disabled):not(.disabled).active:focus,
        .show > .btn-One.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);

        }


/*Green*/
.border-Two {
    border-color: var(--green) !important;
}
.btn-Two {
    color: var(--green);
    background-color: transparent;
    background-image: none;
    border-color: var(--green);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Two:hover {
        color: var(--Dark-color);
        background-color: var(--green);
        border-color: var(--green);
    }

    .btn-Two:focus, .btn-Two.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .btn-Two.disabled, .btn-Two:disabled {
        color: var(--green);
        background-color: transparent;
    }

    .btn-Two:not(:disabled):not(.disabled):active, .btn-Two:not(:disabled):not(.disabled).active,
    .show > .btn-Two.dropdown-toggle {
        /* color: var(--Dark-color);
            background-color: var(--green);
            border-color: var(--green);*/
        border-color: var(--green);
        color: var(--green);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Two:not(:disabled):not(.disabled):active:hover, .btn-Two:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Two.dropdown-toggle:hover {
            color: var(--Dark-color);
            background-color: var(--green);
            border-color: var(--green);
        }

        .btn-Two:not(:disabled):not(.disabled):active:focus, .btn-Two:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Two.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }

/*Red*/
.border-Three {
    border-color: var(--red) !important;
}
.btn-Three {
    border-color: var(--red);
    color: var(--red);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Three:hover {
        color: var(--Dark-color);
        background-color: var(--red);
        border-color: var(--red);
    }
    .btn-Three:focus, .btn-Three.focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }

    .btn-Three.disabled, .btn-Three:disabled {
        color: var(--red);
        background-color: transparent;
    }

    .btn-Three:not(:disabled):not(.disabled):active, .btn-Three:not(:disabled):not(.disabled).active,
    .show > .btn-Three.dropdown-toggle {
        /* color: var(--Dark-color);
            background-color: var(--red);
            border-color: var(--red);*/
        border-color: var(--red);
        color: var(--red);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Three:not(:disabled):not(.disabled):active:hover, .btn-Three:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Three.dropdown-toggle:hover {
            color: var(--Dark-color);
            background-color: var(--red);
            border-color: var(--red);
        }

        .btn-Three:not(:disabled):not(.disabled):active:focus, .btn-Three:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Three.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }

/*Grey*/
.border-Four {
    border-color: var(--Font-color) !important;
}
.btn-Four {
    border-color: var(--Font-color);
    color: var(--Font-color);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Four:hover {
        color: var(--Dark-color);
        background-color: var(--Font-color);
        border-color: var(--Font-color);
    }

    .btn-Four:focus, .btn-Four.focus {
        box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
    }

    .btn-Four.disabled, .btn-Four:disabled {
        color: var(--Font-color);
        background-color: transparent;
    }

    .btn-Four:not(:disabled):not(.disabled):active, .btn-Four:not(:disabled):not(.disabled).active,
    .show > .btn-Four.dropdown-toggle {
        /* color: var(--Dark-color);
            background-color: var(--Font-color);
            border-color: var(--Font-color);*/
        border-color: var(--Font-color);
        color: var(--Font-color);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Four:not(:disabled):not(.disabled):active:hover, .btn-Four:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Four.dropdown-toggle:hover {
            color: var(--Dark-color);
            background-color: var(--Font-color);
            border-color: var(--Font-color);
        }

        .btn-Four:not(:disabled):not(.disabled):active:focus, .btn-Four:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Four.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5)
        }