/****************************
    THEME COLORS
****************************/
:root {
    --Light-color: #F7F4e9; /* var(--Light-color); */
    --Font-color: #1d1d2c; /* var(--Theme-Font-color); */
    /*Accents*/
    --blue: #3cbcc3; /*var(--blue);*/
    --gold: #EBA63F; /*var(--gold);*/
    --green: #438945; /*var(--green);*/
    /*MAYBE*/
    --red: #E40c2b; /*var(--red);*/
    /*Other*/
    --nav-border: rgba(255, 255, 255, 0.02); /*var(--nav-border);*/
    --hr: rgba(255, 255, 255, 0.1); /*var(--hr);*/

    --Mono: white; /*var(--Mono);*/
}
/****************************
    Generic Attributes
****************************/

@media (max-width: 767px) {
    .jumbotron {
        background-color: var(--Light-color);
        position: absolute;
        right: 0;
        left: 0;
        top: auto;
    }
}
body {
    background-color: var(--Light-color);
    color: var(--Font-color);
}

hr {
    background-color: var(--hr);
}
.rotate-effect {
    animation: rotate 20s infinite linear;
}
@keyframes rotate {from {transform: rotate(0deg);}to {transform: rotate(359deg)}}
@-webkit-keyframes rotate {from {transform: rotate(0deg);}to {transform: rotate(359deg)}}
@-moz-keyframes rotate {from {transform: rotate(0deg);}to {transform: rotate(359deg)}}
@-o-keyframes rotate {from {transform: rotate(0deg);}to {transform: rotate(359deg)}}
/*Card Image Id's*/
.card #template {
    background: url('../IMG/BWC1.jpg') 0px -35px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card #website {
    background: url('../IMG/Website-code.png') 0px -10px;
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: 150%;
}
.card #ftfscraper {
    background: url('../IMG/FTFscraper.png') 0px 0px;
    filter: blur(75%);
    background-repeat: no-repeat;
    background-size: 125%;
}
/****************************
    Profile Pictures
****************************/
.profile-picture {
    border-radius: 25%;
    height: auto;
    width: inherit;
    border: 2px solid var(--Light-color);
}

.sideBar .profile-picture {
    max-height: 150px;
}

.main-body .profile-picture {
    border-radius: 25%;
    height: auto;
    width: inherit;
    margin-top: 10px;
    max-height: 322px;
    max-width: 322px;
}
.main-body #About .profile-picture {
    border: 2px solid var(--blue);
}
.main-body #Portfolio .profile-picture {
    border: 2px solid var(--gold);
}
.main-body #Resume .profile-picture {
    border: 2px solid var(--green);
}

/****************************
    Desktop Navigational Bar
****************************/
.sideBar {
    
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 2;
    background-color: var(--Font-color);
    color: var(--Light-color);
    
}
    .sideBar ul {
        list-style: none; /*removes ul dots*/
        font-weight: bold;
        font-size: 18px;
    }
    .sideBar li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
.active {
    color: var(--Mono);
}
#navAbout:before {
    /*<i class="fas fa-home"></i>*/
    content: "\f007"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
#navAbout:Hover {
    color: var(--blue);
    cursor: pointer;
    background-size: 100%;
}

#navPortfolio:before {
    content: "\f126"; /*<i class="fas fa-code-branch"></i>*/
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
#navPortfolio:Hover {
    color: var(--gold);
    cursor: pointer;
    background-size: 100%;
}

#navResume:before {
    /*<i class="fas fa-file-alt"></i>*/
    content: "\f15c"; /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
#navResume:Hover {
    color: var(--green);
    cursor: pointer;
    background-size: 100%;
}
#btn-theme {
    position: fixed;
    bottom: 20px;
    left: 45px;

}
@media(min-height:900px){
    #btn-theme {
        position: fixed;
        top: 800px;
        bottom: inherit;
        left: 45px;
    }
}
#card-theme .card {
    background-color: var(--hr);
    width: 140px;
    height: 120px;
}

    #card-theme .card .btn {
            bottom: inherit;
            position: inherit;
            right: inherit;
            left: inherit;
        }
@media(max-height:650px) {
    #card-theme .card {
        bottom: 0px;
        position: fixed;
        right: inherit;
        left: 180px;
    }
}
/****************************
    Mobile Navigational Bar
****************************/
.topnav {
    width: 100%;
    overflow: auto;
    border-bottom: solid 0.5em var(--nav-border);
    background-color: var(--Font-color);
    top:0px;
    position:absolute;
    z-index: 1;

}

    .topnav a {
        text-decoration: none;
        font-size: 2em;
        text-decoration: none;
    }
#top-About {
    color: var(--blue);
    width: 1.5em;
    text-align: center;
}
    #top-About.active {
        background-color: var(--blue);
        color: var(--Light-color);
        border-radius: 4px;
    }
#top-Portfolio {
    color: var(--gold);
    width: 1.5em;
    text-align: center;
}
    #top-Portfolio.active {
        background-color: var(--gold);
        color: var(--Light-color);
        border-radius: 4px;
    }
#top-Resume {
    color: var(--green);
    width: 1.5em;
    text-align: center;
}
    #top-Resume.active {
        background-color: var(--green);
        color: var(--Light-color);
        border-radius: 4px;
    }
#top-Settings {
    position: absolute;
    right: 1em;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 4px;
   
    text-align: center;
}
    #top-Settings.active {
        background-color: var(--red);
        color: var(--Light-color);
    }

/****************************
    Tab Content
****************************/

.tabcontent { animation: fade 1s;}

@keyframes fade {from {opacity: 0;}to {opacity: 1;}}
@-webkit-keyframes fade {from {opacity: 0;}to {opacity: 1;}}
@-moz-keyframes fade {from {opacity: 0;}to {opacity: 1;}}
@-o-keyframes fade {from {opacity: 0;}to {opacity: 1;}}

/****************************
    Main Body 
****************************/
.section-header {
    background-color: var(--Font-color);
    color: var(--Light-color);
    box-shadow: 0 0 0 0.1em var(--Light-color) inset;
}


.main-body {
    position: relative;
    border-bottom: solid 0.5em var(--nav-border);
    padding: 10px;
    margin-left: 185px;
    margin-right: 0;
    top: 0;
}

@media (max-width: 767px) {
    .main-body {
        margin-left: 0px;
        position: relative;
        width: 100%;
        z-index:0;
    }
}
/****************************
    About Page
****************************/
#About .section-header {
    border: 3px solid var(--blue);
    border-radius: 25px;
    right: 0;
    overflow: visible;

}

#About h4:before {
    content: "\258e";
    display: inline-block;
    margin-left: -1.0em;
    width: 1.3em;
    color: var(--blue);
}
 #About hr{
    background-color:var(--blue);
}

#About .font-weight-bold, #About .font-italic, #About p b, #About p i {
    color: var(--blue);
}
/*
    ABOUT SKILLBAR
*/

@keyframes load {
    from {
        width: 0%
    }
}
@-webkit-keyframes load {from { width: 0% }}
@-moz-keyframes load {from {width: 0%}}
@-o-keyframes load {from {width: 0%}}
.skillBar {
    background-color: var(--Light-color);
    padding: 2px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--blue);
    
}
    .skillBar::before {
        content: attr(data-skill);
        background: linear-gradient( -125deg, var(--Light-color), var(--Light-color) 40px, var(--blue) 40px);
        border: 2px solid var(--blue);
        
        color: var(--Font-color);
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;
    }
    .skillBar.learning::before { width: calc(20% - 10px);}

    .skillBar.basic::before {width: calc(40% - 10px);}

    .skillBar.intermediate::before {width: calc(60% - 10px);}

    .skillBar.advanced::before {width: calc(80% - 10px);}

    .skillBar.expert::before {width: calc(100% - 10px);}

.skillIcon {
    position:absolute;
    top:inherit;
    left: -0.5em;
    font-size: 2em;
}

/****************************
    Portfolio Page
****************************/
#Portfolio .section-header {
    border: 3px solid var(--gold);
    border-radius: 25px;
    right: 0;
    overflow: visible;
}

#Portfolio #Portfolio-Nav a{
    color:var(--gold);
}
    #Portfolio #Portfolio-Nav a:hover {
        color: var(--Font-color);
        text-decoration: none;
    }
    #Portfolio #Portfolio-Nav .active {
        color: var(--Font-color);
        text-decoration: none;
        font-weight: bold;
    }

#Portfolio hr {
    background-color: var(--gold);
}
#Portfolio .font-weight-bold, #Portfolio .font-italic, #Portfolio p b, #Portfolio p i {
    color: var(--gold);
}
#Portfolio h5 {
    color: var(--gold);
}
/*Portfolio Card*/
.porfolioCard {
    animation: fade 2s;
}


/****************************
    Resume Page
****************************/
#Resume .section-header {
    border: 3px solid var(--green);
    border-radius: 25px;
    right: 0;
    overflow: visible;
}

#Resume h4:before {
    content: "\258e";
    display: inline-block;
    margin-left: -1.0em;
    width: 1.3em;
    color: var(--green);
}

#Resume hr {
    background-color: var(--green);
}
 #Resume .font-weight-bold, #Resume .font-italic, #Resume p b, #Resume p i {
    color: var(--green);
}
 /*For all css related to the resume sheet go to the bottom*/

/****************************
    Settings Page
****************************/
#Settings .section-header {
    border: 3px solid var(--red);
    border-radius: 25px;
    right: 0;
    overflow: visible;
    text-align:center;
}
#Settings .Error-header {
    border: 3px solid var(--Font-color);
    border-radius: 25px;
    right: 0;
    overflow: visible;
    text-align: center;
    min-height: 50%;
    
}
.square {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 2px solid var(--Mono);
}

@media (max-width: 767px) {
    .square {
        height: 50px;
        width: 50px;
        border-radius: 5px;
    }
}

/*#Settings hr {
    background-color: var(--red);
}*/

#Settings .font-weight-bold, #Settings .font-italic, #Settings p b, #Settings p i, #Settings h3 {
    color: var(--red);
}
#Settings .btn-Four{
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}
/****************************
    BOOTSTRAP OVERRIDE CARD
****************************/
.card {
    border-radius: 12px;
    border: 2px solid;
    overflow: hidden;
    background-color: var(--Light-color);
    width: 15em;
    height: 20em;
    /*Remember the border-# for border colors*/
}

    .card .btn {
        bottom: -0.5em;
        position: absolute;
        right: 2em;
        left: 2em;
    }
.card img{
    width:15em;
    height:5em;
}

/****************************
    BOOTSTRAP OVERRIDE - btn
****************************/
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
}
/*************
   --blue
*************/
.border-One { /*For Bootstrap Cards*/
    border-color: var(--blue) !important;
}
.btn-One {
    color: var(--Light-color);
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-One:hover {
        border-color: var(--blue);
        background-color: var(--Light-color);
        color: var(--blue);
    }

    .btn-One:focus, .btn-One.focus {
        box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.5);
    }

    .btn-One.disabled, .btn-One:disabled {
        color: var(--blue);
        background-color: transparent;
    }

    .btn-One:not(:disabled):not(.disabled):active, .btn-One:not(:disabled):not(.disabled).active,
    .show > .btn-One.dropdown-toggle {
        /* color: var(--Light-color);
        background-color: var(--blue);
        border-color: var(--blue);*/
        border-color: var(--blue);
        color: var(--Light-color);
        border-radius: 12px;
        border-width: 2px;
    }
        .btn-One:not(:disabled):not(.disabled):active:hover, .btn-One:not(:disabled):not(.disabled).active:hover,
        .show > .btn-One.dropdown-toggle:hover {
            color: var(--Light-color);
            background-color: var(--blue);
            border-color: var(--blue);
        }

        .btn-One:not(:disabled):not(.disabled):active:focus, .btn-One:not(:disabled):not(.disabled).active:focus,
        .show > .btn-One.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(3, 169, 244, 0.5);
        }

/*************
   --gold
*************/
.border-Two { /*For Bootstrap Cards*/
    border-color: var(--gold) !important;
}
.btn-Two {
    color: var(--Light-color);
    background-color: var(--gold);
    border-color: var(--gold);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Two:hover {
        border-color: var(--gold);
        background-color: var(--Light-color);
        color: var(--gold);
    }


    .btn-Two:focus, .btn-Two.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    }

    .btn-Two.disabled, .btn-Two:disabled {
        color: var(--gold);
        background-color: transparent;
    }

    .btn-Two:not(:disabled):not(.disabled):active, .btn-Two:not(:disabled):not(.disabled).active,
    .show > .btn-Two.dropdown-toggle {
        /* color: var(--Light-color);
            background-color: var(--gold);
            border-color: var(--gold);*/
        border-color: var(--gold);
        color: var(--Light-color);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Two:not(:disabled):not(.disabled):active:hover, .btn-Two:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Two.dropdown-toggle:hover {
            color: var(--Light-color);
            background-color: var(--gold);
            border-color: var(--gold);
        }

        .btn-Two:not(:disabled):not(.disabled):active:focus, .btn-Two:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Two.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
        }

/*************
   --green
*************/
.border-Three { /*For Bootstrap Cards*/
    border-color: var(--green) !important;
}
.btn-Three {
    color: var(--Light-color);
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Three:hover {
        border-color: var(--green);
        background-color: var(--Light-color);
        color: var(--green);
    }
    .btn-Three:focus, .btn-Three.focus {
        box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
    }

    .btn-Three.disabled, .btn-Three:disabled {
        color: var(--green);
        background-color: transparent;
    }

    .btn-Three:not(:disabled):not(.disabled):active, .btn-Three:not(:disabled):not(.disabled).active,
    .show > .btn-Three.dropdown-toggle {
        /* color: var(--Light-color);
            background-color: var(--green);
            border-color: var(--green);*/
        border-color: var(--green);
        color: var(--Light-color);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Three:not(:disabled):not(.disabled):active:hover, .btn-Three:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Three.dropdown-toggle:hover {
            color: var(--Light-color);
            background-color: var(--green);
            border-color: var(--green);
        }

        .btn-Three:not(:disabled):not(.disabled):active:focus, .btn-Three:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Three.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
        }

/*************
   --Font-color
*************/
.border-Four { /*For Bootstrap Cards*/
    border-color: var(--Font-color) !important;
}
.btn-Four {
    color: var(--Light-color);
    background-color: var(--Font-color);
    border-color: var(--Light-color);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Four:hover {
        border-color: var(--Font-color);
        background-color: var(--Light-color);
        color: var(--Font-color);
    }

    .btn-Four:focus, .btn-Four.focus {
        box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
    }

    .btn-Four.disabled, .btn-Four:disabled {
        color: var(--Font-color);
        background-color: transparent;
    }

    .btn-Four:not(:disabled):not(.disabled):active, .btn-Four:not(:disabled):not(.disabled).active,
    .show > .btn-Four.dropdown-toggle {
        /* color: var(--Light-color);
            background-color: var(--Font-color);
            border-color: var(--Font-color);*/
        border-color: var(--Font-color);
        color: var(--Font-color);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Four:not(:disabled):not(.disabled):active:hover, .btn-Four:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Four.dropdown-toggle:hover {
            color: var(--Light-color);
            background-color: var(--Font-color);
            border-color: var(--Font-color);
        }

        .btn-Four:not(:disabled):not(.disabled):active:focus, .btn-Four:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Four.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5)
        }
/*************
   --red
*************/
.border-Special { /*For Bootstrap Cards*/
    border-color: var(--red) !important;
}

.btn-Special {
    border-color: var(--red);
    color: var(--red);
    border-radius: 12px;
    border-width: 2px;
}

    .btn-Special:hover {
        color: var(--Light-color);
        background-color: var(--red);
        border-color: var(--red);
    }

    .btn-Special:focus, .btn-Special.focus {
        box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5);
    }

    .btn-Special.disabled, .btn-Special:disabled {
        color: var(--red);
        background-color: transparent;
    }

    .btn-Special:not(:disabled):not(.disabled):active, .btn-Special:not(:disabled):not(.disabled).active,
    .show > .btn-Special.dropdown-toggle {
        /* color: var(--Light-color);
            background-color: var(--Font-color);
            border-color: var(--Font-color);*/
        border-color: var(--red);
        color: var(--Font-color);
        border-radius: 12px;
        border-width: 2px;
    }

        .btn-Special:not(:disabled):not(.disabled):active:hover, .btn-Special:not(:disabled):not(.disabled).active:hover,
        .show > .btn-Special.dropdown-toggle:hover {
            color: var(--Light-color);
            background-color: var(--red);
            border-color: var(--red);
        }

        .btn-Special:not(:disabled):not(.disabled):active:focus, .btn-Special:not(:disabled):not(.disabled).active:focus,
        .show > .btn-Special.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(116, 116, 116, 0.5)
        }


/*! 
 * Template Name: Dev - Bootstrap 4 Resume/CV Template for Software Developers
 * Template Name: Dev - Bootstrap 4 Resume/CV Template for Software Developers
 * Version: 1.2
 * Author: Xiaoying Riley
 * Copyright: 3rd Wave Media Ltd.
 * Twitter: @3rdwave_themes
 * Website: http://themes.3rdwavemedia.com/
*/
/*!
    Modified for Websites
*/
.resume-wrapper{border:1px solid rgba(0,0,0,0.025)}
    .resume-wrapper h4:before {content: "" !important;}/*Added*/
.resume-section-heading{position:relative;padding-left:1rem;font-size:1.125rem;letter-spacing:0.15rem;color:var(--green);}
.resume-section-heading:before{content:"";display:inline-block;width:5px;height:100%;background:var(--green);position:absolute;left:0;top:0}

.resume-name{font-size:2.75em;font-weight:900;letter-spacing:0.4rem;color:var(--green);}
@media(max-width:768px){.resume-name{font-size:1em;}}
.resume-tagline{font-size:1.25rem;font-weight:300}
.resume-contact{border-left:1px solid rgba(0,0,0,0.08);font-size:0.75rem}
a.resume-link{color:var(--Font-color)}
a.resume-link:hover{color:var(--green);text-decoration:none;}
.resume-profile-image { max-width: 140px;border-radius: 25%;border: 2px solid var(--green);}/*edited*/
.resume-intro{font-size:0.875rem}
.resume-main 
.item-title{font-size:1rem}
.resume-main .item-meta{font-size:0.75rem}
.resume-main .item-content{font-size:0.875rem}
.resume-aside{border-left:1px solid rgba(0,0,0,0.08)}
.resume-aside .item{font-size:0.875rem}.resume-aside
 .item-title{font-size:1rem}
 .resume-education-list,.resume-awards-list{font-size:0.875rem}
 .resume-degree-time-org,.resume-degree-time{font-size:0.75rem}
 .resume-lang-list,.resume-interests-list{font-size:0.875rem}
 .resume-social-list{font-size:0.75rem}.fa-heart{color:#fb866a}
 @media (max-width: 991.98px){.resume-aside{border-left:0}}
 @media (max-width: 767.98px){.resume-contact{border-left:0}}
